namespace: myapp
replicaCount: 2
image:
  repository: rizjosel/petclinic
  tag: 22
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
containerPort: 8080
resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
hpa:
  minReplicas: 2
  maxReplicas: 10
  cpuUtilization: 70
ingress:
  enabled: true
  host: petclinic.local
