namespace: petclinic
replicaCount: 1
image:
  repository: rizjosel/petclinic
  tag: latest
  pullPolicy: IfNotPresent
imagePullSecrets:
  - dockerhub-secret  
service:
  type: ClusterIP
  port: 80
  containerPort: 8080
resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"
hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 1
  cpuUtilization: 80
ingress:
  enabled: false
