apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: logging
data:
  filebeat.yml: |
    filebeat.autodiscover:
      providers:
        - type: kubernetes
          hints.enabled: true

    filebeat.modules:
      - module: system
        syslog:
          enabled: true
        auth:
          enabled: true

    processors:
      - add_kubernetes_metadata: ~
      - add_host_metadata: ~

    setup.kibana:
      host: "http://kibana:5601"

    output.elasticsearch:
      hosts: ["${ELASTICSEARCH_HOSTS}"]