apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "petclinic.fullname" . }}
  namespace: {{ .Values.namespace }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: petclinic.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "petclinic.fullname" . }}
            port:
              number: {{ .Values.service.port }}
