apiVersion: v1
kind: Service
metadata:
  name: {{ include "petclinic.fullname" . }}
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ include "petclinic.name" . }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
